$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
#header {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 4720px;
    background: black;
    h1 {
        margin-left: 40px;
        margin-top: 4px;
        font-weight: bold;
        font-size: 60px;
        color: white;
    }
    h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 20px;
    margin-left: 40px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.firsLeftBox {
    margin: 0 20px 40px 40px;
    float: left;
    width: 350px;
    position: relative;
    p {
        white-space: normal;
    }
    div.summaryPanel, div.textPanel {
        position: absolute;
    }
    div.summaryPanel {
        z-index: 10;
    }
    div.fadder {
        background: white;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;    
        transition: opacity 1s ease-in-out;
        opacity: 1.0;
    }
    div.fader.uncloak {
        opacity: 1.0;
        display: block !important;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        -ms-transition: opacity 1s;
        transition: opacity 1s;
    }
    div.fader.cloak {
        opacity: 0;
        display: block !important;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        -ms-transition: opacity 1s;
        transition: opacity 1s;
    }
}

#items {
    margin-top: 60px;
    padding-top: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 4720px;
}

.leftBoxes {
    margin: 0 20px 40px 20px;
    float: left;
    width: 350px;
    white-space: normal;
    display: inline-block;
    h3 {
        margin-top: 0;
    }
    img {
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

span.glyphicon {
    font-size: 1.6em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
