<!doctype html>
<!--[if lt IE 7]>     <html lang="ca" class="no-js lt-ie9 lt-ie8 lt-ie7" data-ng-app="riureLoPatiApp"><![endif]-->
<!--[if IE 7]>        <html lang="ca" class="no-js lt-ie9 lt-ie8" data-ng-app="riureLoPatiApp"><![endif]-->
<!--[if IE 8]>        <html lang="ca" class="no-js lt-ie9" data-ng-app="riureLoPatiApp"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ca" class="no-js" data-ng-app="riureLoPatiApp" data-ng-controller="LayoutCtrl"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>{{ Layout.title() }}</title>
    <meta name="keywords" content="riure strobe lo pati centre art terres ebre trans new media">
    <meta name="description" content="{{ Layout.description() }}">
    <meta name="author" content="www.flux.cat">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Stylesheet -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 9]><p class="browsehappy">Estàs utilitzant un navegador Internet Explorer inferior a la versió <strong>9</strong>. Si us plau, <a style="color:black" href="http://browsehappy.com/">actualitza el teu navegador</a> per visualitzar correctament aquesta pàgina.</p><![endif]-->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div id="header">
      <h1><a target="_blank" href="http://www.lopati.cat/ca/activitats/strobe/strobe-ix-festival-de-video-i-art-digital/208/">riure#{{ Layout.id() }}</a></h1>
      <div class="lang-selector">
          <a href="#/{{ Layout.id() }}/ca">ca</a> | <a href="#/{{ Layout.id() }}/es">es</a>
          <a data-ng-if="Layout.id() == 2" class="menubar" href="#/1/ca">#1</a><a data-ng-if="Layout.id() == 1" class="menubar" href="#/2/ca">#2</a>
      </div>
      <a target="_blank" href="http://www.lopati.cat/ca/activitats/exposicions/riure-1-superioritat-vs-inferioritat/140/"><img id="strobelogo" data-ng-src="images/layout/logo-strobe.png" alt="str_b_ trans new media logo"/></a>
    </div>
    <div data-ng-view></div>
    <!-- Scripts -->
    <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-29818278-3'); ga('send', 'pageview');
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/sass-bootstrap/js/affix.js"></script>
    <script src="bower_components/sass-bootstrap/js/alert.js"></script>
    <script src="bower_components/sass-bootstrap/js/button.js"></script>
    <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
    <script src="bower_components/sass-bootstrap/js/transition.js"></script>
    <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
    <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
    <script src="bower_components/sass-bootstrap/js/modal.js"></script>
    <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/sass-bootstrap/js/tab.js"></script>
    <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
    <script src="bower_components/sass-bootstrap/js/popover.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/data-ca.js"></script>
    <script src="scripts/data-es.js"></script>
    <!-- endbuild -->
</body>
</html>
