<div id="items">
  <div class="firsLeftBox" style="margin-top:0">
    <div class="summaryPanel">
      <p><strong style="color:hotpink">RIURE#</strong> es un proyecto expositivo en tres partes elaborado por Blai Mesa Rosés y Xavier Zambrano para el <strong>Centre d'Art Lo Pati</strong>. En los tiempos que corren cada vez somos más quienes pensamos que el humor es un arma cargada de futuro. Como punto de partida del proyecto nos hemos preguntado de qué nos reímos. ¿Cómo ha evolucionado el sentido del humor a lo largo del tiempo? ¿Cuáles son sus constantes vitales? Para responder a estas preguntas hemos construido una tipología que nos ha hecho de guía durante este simpático trayecto:</p>
        <p>
            <img data-ng-src="images/thumbs/riure1.jpg" alt="" title=""/>
            <strong>Superioridad Vs Inferioridad</strong>: El humor coloca en una posición de superioridad y degrada el objeto de la risa. Esta estrategia puede servir tanto para hacer befa de la deformidad o situación comprometida de una persona como para invertir la relación jerárquica con la autoridad (el caso de la sátira política). Hobbes en el <em>Leviatán</em> lo define como <em>gloria súbita</em>: "se puede concluir que el humor no es sino la gloria súbita derivada de una concepción fugaz de eminencia en nosotros mismos, en comparación con la debilidad de los otros, o con nuestra propia de antes."
        </p>
    </div>
      <div class="footer">
          <h5>Organitza_</h5>
          <a target="_blank" href="http://www.lopati.cat/"><img data-ng-src="images/layout/logo-lopati.png" alt="" title="" style="width:100px;margin-bottom:40px"/></a><br/>
          <h5>Amb el suport de_</h5>
          <img data-ng-src="images/layout/logos-peu-compact.png" alt="" title=""/>
      </div>
  </div>
    <div>
      <div class="leftBoxes">
          <p>
              <img data-ng-src="images/thumbs/riure2.jpg" alt="" title=""/>
              <strong>Incongruencia</strong>: Según los partidarios de esta teoría, la esencia del humor sería lo incongruente, la confluencia en un mismo punto de dos ideas o marcos de referencia alejados y dispares. Pascal hace hincapié en la frustración de expectativas: "nada nos hace reír tanto como una disparidad sorprendente entre lo que esperábamos y lo que vemos." Bergson sostiene que “una situación es cómica cuando pertenece simultáneamente a dos series de acontecimientos totalmente independientes y es susceptible de ser interpretada según dos significados completamente distintos al mismo tiempo”.
          </p>
      </div>
      <div class="leftBoxes">
          <p>
              <img data-ng-src="images/thumbs/riure3.jpg" alt="" title=""/>
              <strong>Matar al censor</strong>: En esta categoría entrarían las teorías que entienden el humor como una liberación de la inhibición. Según Freud, la energía psíquica que antes se necesitaba para reprimir la agresividad se libera en el momento de la carcajada. La liberación de la represión y la momentánea libertad de pensamiento proporcionan la descarga placentera que produce el humor. André Breton, en el prólogo a su <em>Antología del humor negro</em>, rebasó las categorías freudianas y definió el humor negro como "el enemigo mortal del sentimentalismo", una actitud que lleva el desenfreno hasta el borde mismo de la nada.
          </p>
          <p>
              El proyecto ha seguido dos caminos paralelos. El primero en un formato expositivo tradicional en el cual han participado: Daniel G. Andújar, David Curto, Campanilla, Patricia Esquivias, Alberto González Vázquez, Jesús Acevedo, OAU!, Gabinete de Crisis, The Yes Men, David Bestué & Marc Vives, Carles Congost, Momu & No Es, Oriol Nogués, Pierrick Sorin, Natural Theatre, Miguel Noguera, Joan Cornellà, Zoraida Roselló, Isaki Lacuesta, Maria Llopis, Jordi Castells, Jaimie Warren, Felipe G. Gil, Venga Monjas y Albert Pla. El segundo trayecto se ha traducido en este sitio web donde encontraréis un recorrido, comentado por Xavier Zambrano, que explora algunos hitos históricos y actuales de las diferentes maneras de entender el humor.
          </p>
      </div>
  </div>
</div>
