<div id="items">
  <div class="firsLeftBox">
    <div class="summaryPanel fader">
      <p>Riure # és un projecte de comissariat en tres parts elaborat per Blai Mesa Rosés i Xavier Zambrano per al Centre d'Art Lo Pati. En els temps que corren cada cop som més els qui pensem que l'humor és una arma carregada de futur. Com a punt de partida del projecte ens hem preguntat què és el que ens fa gràcia. De què riem? Com ha evolucionat el sentit de l'humor al llarg del temps? Quines en són les constants vitals? Per respondre aquestes preguntes hem construït aquesta tipologia que ens ha fet de guia durant aquest simpàtic trajecte:</p>
      <span onclick="moveMe()" class="glyphicon glyphicon-circle-arrow-right"></span>
    </div>
  </div>
    <div>
      <div class="leftBoxes">
          <p>Superioritat Vs Inferioritat: L'humor col·loca en una posició de superioritat i degrada l'objecte del riure. Això tant pot servir per fer befa de la deformitat o situació compromesa d'una persona com per invertir la relació jeràrquica amb l'autoritat (el cas de la sàtira política). Hobbes al Leviatan el defineix com a glòria sobtada: "es pot concloure que l'humor no és sinó la glòria sobtada derivada d’una concepció fugaç d'eminència en nosaltres mateixos, en comparació amb la debilitat dels altres, o amb la nostra pròpia d’abans."</p>
      </div>
      <div class="leftBoxes">
          <p>Incongruència: Segons els partidaris d’aquesta teoria, l’essència de l’humor seria l’incongruent, la confluència en un mateix punt de dues idees o marcs de referència allunyats i dispars. Pascal posa l'accent en la frustració de les expectatives: "Res fa riure tant a la gent com una disparitat sorprenent entre el que esperen i el que veuen." Bergson sosté que “una situació és còmica quan pertany simultàniament a dues sèries totalment independents d’esdeveniments i és susceptible de ser interpretada segons dos significats completament diferents al mateix temps”.</p>
      </div>
      <div class="leftBoxes">
          <p>Matar el censor: En aquesta categoria entrarien les teories que entenen l'humor com un alliberament de la inhibició. Segons Freud, l'energia psíquica que abans es necessitava per reprimir l'agressivitat s'allibera en el moment de la riallada. L'alliberament de la repressió i la momentània llibertat de pensament proporcionen la descàrrega plaent que produeix l'humor André Breton, en el pròleg a la seva Antologia de l'humor negre, depassà les categories freudianes i definí l'humor negre com "l'enemic mortal del sentimentalisme", una actitud que porta el desenfrenament fins al caire mateix del no-res.</p>
      </div>
      <div class="leftBoxes">
          <p>El projecte ha seguit dos camins paral·lels. El primer en un format expositiu tradicional on han participat: Daniel G. Andújar, David Curto, Campanilla, Patricia Esquivias. Alberto González Vázquez, Jesús Acevedo, OAU!, Gabinete de Crisis, The Yes Men, David Bestué & Marc Vives, Carles Congost, Momu & No Es, Oriol Nogués, Pierrick Sorin, Zoraida Roselló, Miguel Noguera, Zoraida Roselló i Isaki Lacuesta. Maria Llopis, Jordi Castells, Jaimie Warren, Felipe G. Gil, Venga Monjas i Albert Pla. El segon comissariat s'ha traduït en aquest lloc web on trobareu un recorregut, comentat per Xavier Zambrano, que explora algunes fites històriques i actuals de les diferents maneres d'entendre l'humor.</p>
      </div>
  </div>
</div>
