<div id="items" style="width:4700px;">
<div class="firsLeftBox">
  <p ng-if="textPanelCollapsed" ng-bind-html="currentPage.summary"></p>
  <p ng-if="!textPanelCollapsed" ng-bind-html="currentPage.text"></p>
  <p><a class="btn btn-primary btn-xs" ng-click="textPanelCollapsed=!textPanelCollapsed">{{ textPanelCollapsed ? 'llegir més' : 'llegir menys' }}</a></p>
</div>

  <div class="leftBoxes" ng-repeat="media in currentPage.medias">
    <h3>{{ media.title }}</h3>
    <h4>{{ media.author }}, {{ media.year }}</h4>
    <p ng-bind-html="media.text"></p>
    <img ng-src="images/{{ media.image }}" alt="" title=""/>
  </div>
</div>